<h1 style="text-align:center">Research and Development work</h1>
<div class="multi-accouts" >
  <div>
      <div class="row" style="justify-content: center;display: flex">
          <!-- separate-account start -->
          <div  *ngFor="let choice of topic; let i = index">
              <div class="separate-account" (click)="choosen(choice.type,i)">
                  <div class="acts-top" >
                       <img src={{choice.image}} 
                          class="imagesize">
                       
                  </div>
                  <div style="cursor: pointer;text-align: center;">
        {{choice.Name}}
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
