.separate-account {
	width: 167px;
	margin: 50px;
}
.acts-top{
  height: 175px;
  width: 175px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
}
.imagesize{
	cursor: pointer !important;
	max-width: 100% !important;
	border-radius: 10px !important;
	height: -webkit-fill-available !important;
	height: 100%
	// transform: scale(1.3);
  // transform-origin: 50% 50%;
}