<div class="container">

	<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="grid">
		<label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="true"> Grid
  </label>
		<label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="false"> List
  </label>
	</div>

	<div class="row mt-2">
		<div *ngFor="let names of name" [ngClass]="grid ? 'col-4' : 'col-12'">
			<!-- <div >
				<img class="my-2" src={{names.image}}>
				{{names.Name}}</div> -->
				<mat-card class="example-card">
						<mat-card-header>
							<mat-icon>more_vert</mat-icon>
							<div  class="example-header-image">
									<ngx-skeleton-loader *ngIf="!contentLoaded"  appearance="square" [theme]="{ width: '80px', height: '80px' }">
										</ngx-skeleton-loader>
							<div *ngIf="contentLoaded">
									<img  src={{names.image}}/>

							</div>

							</div>
							<mat-card-title>{{names.Name}}</mat-card-title>
							<mat-card-subtitle>{{names.post}}</mat-card-subtitle>

						</mat-card-header>
						
	<mat-card-content>
                   <div class="ml-1">
									
					<div class=" font-size-12 py-3">  {{ 'Total Project'}}</div>
				      <div class="ml-1">				
				         <span class="mr-2 dark-gray ">{{names.projecttotal}}</span>
				      </div>
                  </div>
				<div class="ml-1">
				      <div class=" font-size-12 py-3">  {{ 'Experience'}}</div>
					  <span class="mr-2 dark-gray ">{{names.experience}}</span>
		          </div>
  </mat-card-content>
	</mat-card>

		</div>
	</div>
	<!-- <div class="form-group"  *ngIf !="grid">
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
					<ng-container matColumnDef="Image">
							<mat-header-cell *matHeaderCellDef>ProfileImage</mat-header-cell>
						<td mat-cell *matCellDef="let plan">
							<img src={{plan.image}}/>
						</td>
					</ng-container>

					<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
						<td mat-cell *matCellDef="let plan">{{plan.Name}}</td>
						<td mat-cell *matCellDef="let plan">{{plan.post}}</td>

					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
				</table>
		</div>
 -->
</div>