img {
    position: relative;
    float:left;
    top: -10px;
     width: 50px;
    // height:auto;
}

.example-card {
  width:auto;
  height:auto;
    margin: 5px;
  }
  .example-header-image {
    background-size: cover;
  }