<h2>Skeleton Loader</h2>


<div class="fb-item">
	<div class="first-section-wrapper">
		<div class="gravatar">
			<ngx-skeleton-loader *ngIf="!contentLoaded" appearance="circle" [theme]="{ width: '80px', height: '80px' }">
			</ngx-skeleton-loader>

			<div *ngIf="contentLoaded" class="content-loaded">
				<img
          src="./assets/images/nano.png"
          alt=""
          class="content-loaded-image"
        />
      </div>
			</div>
			<div class="gravatar-title">
				<div>
					<ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{
            width: '200px',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"></ngx-skeleton-loader>
					<p *ngIf="contentLoaded" class="gravatar-title-name">NANO NINO</p>
				</div>
				<div>
					<ngx-skeleton-loader *ngIf="!contentLoaded"
						[theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"></ngx-skeleton-loader>
					<p *ngIf="contentLoaded" class="gravatar-description">Solutions & Application</p>
				</div>
			</div>
		</div>
	</div>
    <div class="item"><ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
        <p *ngIf="contentLoaded">We are Nano Nino, a company developing first-generation technology, driven by the challenge of creating highly innovative IT solutions tailored to the needs of the industry. We create Web & Mobile solutions crucial for having a positive impact on the market.

        </p>
    </div>

	<br/>
	<br/>