.fb-item {
    width: auto;
    height: auto;
    margin: 10px auto;
    border: 1px solid #eaeaea;
    padding: 10px;
  }
  
  .gravatar {
    width: 100px;
    height: 90px;
  }
  .gravatar-title {
    width: 500px;
    padding: 10px;
    height: 80px;
  }
  
  .first-section-wrapper{
    width: 100%;
    height: auto;
    flex: 1;
  }
  
  .first-section-wrapper {
    display: inline-flex;
  }
  
  .content-loaded-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: rgb(174, 174, 174);
    margin: 5px;
    border-radius: 50%;
  }
  
  .gravatar-title-name {
    margin-top: 0;
    width: 200px;
    border-radius: 0;
    height: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .gravatar-description {
    width: 170px;
    border-radius: 0;
    height: 15px;
    font-size: 12px;
  }